* {
  box-sizing: border-box;
}

.background-image {
  background-image: url(../images/pages/index-background.jpg);
  background-size: cover;
  display: block;
  filter: blur(2px);
  opacity: 0.7;
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

.content {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  top: 30px;
  //left: 0;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  //right: 0;
  z-index: 2;
  padding: 4em 2em;
}

h1, h2, p {
  color: black;
  font-weight: bold;
}
